.App {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    padding-block: 2rem;
    border-radius: 3px;
    z-index: 100;
    margin-left: 25%;
    margin-top: 15%;
    background-color: #2B3467;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
}

hr {
    color: white;
}

.bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.to {
    margin-left: 7%;
}

.amount {
    margin-left: 7%;
}

.amount h5 {
    color: white;
}

.amount input {
    width: 90%;
}

.button {
    margin-top: 2rem;
    margin-left: 4rem;
}

@media screen and (max-width: 768px) {
    .App {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }
}

@media screen and (max-width: 425px) {
    .App {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: center;
        width: 70%;
        margin-left: 15%;
    }

    .to {
    }
}